.login {
  background-color: #97bf0f;
  height: 100vh;
  padding: 1%;
  flex: 1;
}

.login h1 {
  color: white;
  text-align: center;
  margin-top: 15%;
}

.login-form {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.login-form > * {
  padding: 5%;
  border-radius: 20px;
  color: white;
  border: solid white 1px;
  background-color: #97bf0f;
  font-weight: bolder;
}

.login-form > *::placeholder {
  font-weight: bolder;
  color: white;
}

.login-form button {
  margin-top: 20%;
  background-color: white;
  border: none;
  padding: 5%;
  color: #97bf0f;
  border-radius: 20px;
  font-size: 20px;
}

.aditional-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aditional-links h3,
.aditional-links p,
.aditional-links a {
  color: white;
  margin: 3px 0;
}

.aditional-links a:hover {
  background-color: rgb(89, 122, 83);
  padding: 10px;
  border-radius: 25px;
  text-decoration: none;
}

@media screen and (min-width: 450px) {
  .login {
    height: 100vh;
  }

  .login-form {
    margin-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 5%;
  }

  .login-form > * {
    padding: 1%;
    flex-basis: 35%;
    text-align: center;
  }

  .login-form > *::placeholder {
    text-align: center;
  }

  .login-form button {
    margin-top: 1%;
    padding: 5px;
    flex-basis: 30%;
    cursor: pointer;
  }
}
