.navbar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #999;
  padding: 1rem;
}

.logo-container {
  display: flex;
  justify-content: center;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  background-color: #97bf0f;
}

.menu-btn {
  background-color: transparent;
  border: none;
  font-size: xx-large;
}

.logo {
  width: 64px;
  height: 64px;
  margin-right: 1rem;
}

.app-title {
  display: inline-block;
}

.nav-links {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 0;
}

.logo-container.closeMenu {
  display: none;
}

.nav-links.closeMenu {
  display: none;
}

.nav-link {
  text-decoration: none;
  color: #292c29;
  padding: 1rem;
}

.activated {
  text-decoration: none;
  background-color: #7f7f7f;
  color: #fff;
}

@media screen and (min-width: 450px) {
  nav {
    background-color: #97bf0f;
    padding: 0 2%;
  }

  .navbar-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    padding-right: 0;
  }

  .btn-container {
    justify-content: flex-start;
    margin-bottom: 50%;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: transparent;
  }

  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 100%;
  }

  .logo {
    width: 64px;
    height: 64px;
    margin-right: 1rem;
  }

  .app-title {
    display: inline-block;
  }

  .nav-links {
    border-radius: 1rem;
    color: #292c29;
    margin-bottom: 10%;
  }
}
