.content {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newTourForm {
  display: flex;
  flex-direction: column;
}
