.newtour-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #97bf0f;
  height: 100vh;
  flex: 1;
}

.newtour-content h1 {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  border-bottom: 1px solid rgb(247 247 248 / 0.3);
  padding: 20px 50px;
}

.column-rigth {
  justify-content: space-between;
}

.newTourForm {
  display: flex;
  justify-content: space-around;
  row-gap: 10px;
  padding: 30px 0;
}

.newTourForm .form-column,
.newTourForm .column-rigth {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 20px;
}

.column-rigth div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.newTourForm input,
.newTourForm textarea,
.newTourForm button {
  padding: 5%;
  border-radius: 20px;
  color: white;
  border: solid white 1px;
  background-color: #97bf0f;
  font-weight: bolder;
}

.newTourForm textarea {
  height: 100px;
}

.newTourForm *::placeholder {
  font-style: italic;
  font-weight: 200;
  color: white;
}

.newTourForm button {
  background-color: white;
  border: none;
  color: #97bf0f;
  font-size: 20px;
}

.add-tour-btn {
  cursor: pointer;
}

.form-column textarea::-webkit-scrollbar {
  display: none;
}

.form-column textarea::-webkit-resizer {
  display: none;
}

@media (max-width: 500px) {
  .newTourForm {
    flex-direction: column;
  }

  .newtour-content h1 {
    letter-spacing: 0;
  }
}
