
.reservations {
  background-color: #97bf0f;
  height: 100vh;
  padding: 1%;
  flex: 1;
}

.reservations h1 {
  color: white;
  text-align: center;
  margin-top: 15%;
}

.reservation-form {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.reservation-form > * {
  padding: 5%;
  border-radius: 20px;
  color: white;
  border: solid white 1px;
  background-color: #97bf0f;
  font-weight: bolder;
}

.reservation-form > *::placeholder {
  font-weight: bolder;
  color: white;
}

.reservation-form button {
  margin-top: 20%;
  background-color: white;
  border: none;
  padding: 5%;
  color: #97bf0f;
  border-radius: 20px;
  font-size: 20px;
}

.reserve {
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .reservations {
    height: 100vh;
  }

  .reservation-form {
    margin-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 3%;
  }

  .reservation-form > * {
    padding: 1%;
    flex-basis: 25%;
    text-align: center;
  }

  .reservation-form > *::placeholder {
    text-align: center;
  }

  .reservation-form button {
    margin-top: 0;
    padding: 5px;
    flex-basis: 30%;
  }
}
