
.tour-details {
  padding: 5%;
  flex: 1;
  height: auto;
}

.tour-photo {
  flex-basis: 80%;
}

.tour-photo img {
  width: 100%;
  height: 100%;
}

.tour-data {
  flex-grow: 1;
}

.tour-title {
  text-align: right;
  border-radius: 25%;
  margin-bottom: 0;
  font-size: 40px;
}

.tour-description {
  font-size: 15px;
  margin-top: 0;
  text-align: right;
}

.tour-city {
  display: flex;
  justify-content: space-between;
  background-color: #e2e3e5;
  padding: 5%;
}

.tour-duration {
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.tour-cost {
  display: flex;
  justify-content: space-between;
  background-color: #e2e3e5;
  padding: 5%;
}

.tour-reserve-btn {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.tour-reserve-btn button {
  background-color: #97bf0f;
  border: none;
  padding: 5%;
  color: white;
  border-radius: 20px;
  width: 60%;
  font-size: 20px;
}

.reservations-link {
  text-decoration: none;
  color: white;
}

.reservations-btn {
  cursor: pointer;
}

@media screen and (min-width: 450px) {
  .tour-details {
    display: flex;
    column-gap: 2%;
  }

  .tour-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
  }

  .tour-title {
    margin-top: 0;
  }

  .tour-reserve-btn {
    min-width: 250px;
  }
}
